/* Variables */


:root {
  --basic-black: #000000;
  --basic-extra-black: #283136;
  --basic-ligth: #EEEEEE;
  --basic-extra-light: #E1E1E1;
  --basic-grey: #4D4D4D;
  --basic-extra-grey: #666666;
  --basic-light-grey: #DFDFDF;
  --basic-dark-grey: #D5D5D5;
  --basic-white: #ffffff;
  --basic-extra-white: #444444;
  --basic-silver: #C1C1C1;
  --basic-border-grey: #DBDBDB;
  --basic-gainsborough: #D7DCDE;
  --basic-earlescent-grey: #ABABAB; 
  --basic-light-telegrey: #CFCFCF;

  --basic-corral: #FB565A;
  --basic-extra-corral: #E74246;
  --basic-dark-corral: #D7373B;

  --basic-green: #00CA74;
  --basic-extra-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-yellow: #EFC849;
  --basic-extra-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --basic-arrow: #A6A6A6;
  --basic-active-arrow: #231F20;

  --basic-white-transparent: rgba(255, 255, 255, 0.3);
  --basic-black-transparent: rgba(0, 0, 0, 0.3);
  --basic-extra-black-transparent: rgba(0, 0, 0, 0.1);
  --basic-extra-black-transparent: rgba(0, 1, 1, 0.1);
  --basic-black-shadow: rgba(0, 1, 1, 0.25);
}


/* Global */


body {
  min-width: 1157px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Grid */


.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}


/* Container */


.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}


/* Main navigation */


.main-navigation {
  display: grid;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-ligth);
  text-transform: uppercase;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-bar {
  background-color: var(--basic-ligth);
  margin-top: 50px;
}

.main-header-logo:active {
  color: var(--basic-arrow);
  opacity: 0.3;
}

.site-navigation-item .site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  position: absolute;
  content: "";
  width: 98%;
  height: 2px;
  top: 38px;
  left: 1px;
  background-color: var(--basic-corral);
}


/* User navigation */


.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-right: 45px;
}

.site-navigation-item {
  margin-right: 45px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--basic-corral);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 30%;
}


/* Basket link */


.basket-link::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 2px;
  left: 0;
  background-image: url("../img/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .basket-link {
  padding-left: 40px;
  position: relative;
}

.user-navigation {
  margin-top: 7px;
  margin-right: -3px;
}


/* Slider */


.slider {
  position: relative;
  background-color: var(--basic-ligth);
  margin-top: -10px;
}

.slider .main-header {
  background-color: var(--basic-ligth);
}

.slider-item-1 {
  background-image: url("../img/nerds-index-slide-1.png");
  background-repeat: no-repeat;
  background-position: 397px;
}

.slider-item-2 {
  background-image: url("../img/nerds-index-slide-2.png");
  background-repeat: no-repeat;
  background-position: 397px;
}

.slider-item-3 {
  background-image: url("../img/nerds-index-slide-3.png");
  background-repeat: no-repeat;
  background-position: 397px;
}

.slider-title {
  font-weight: 500;
  max-width: 548px;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  padding: 0;
  margin-top: 78px;
}

.slider-desc {
  max-width: 548px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-black);
  margin: 0;
  padding: 0;
  margin-top: 38px;
}

.slider-item-1 .slider-desc {
  margin-top: 27px;
}

.slider-item-1 .slide-button {
  margin-top: 38px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.slider-list li {
  width: 1157px;
  height: 431px;
  margin: 0;
  padding: 0;
}

.slider-list-button {
  position: absolute;
  width: 88px;
  bottom: 74px;
  left: 50%;
  z-index: 20;
  display: flex;
  list-style: none;
  transform: translateX(-64%);
}

.slide-button {
  width: 132px;
  margin-top: 27px;
  margin-bottom: 80px;
}

.slider-button button {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  background-color: var(--basic-white);
  border: 0;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--basic-white);
  cursor: pointer;
}

.current::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 5px;
  left: 45px;
  border-radius: 50%;
  border: 2px solid var(--basic-silver);
}

.slider-image {
  width: 760px;
  height: 431px;
}

.slide {
  display: none;
}

.slide-current {
  display: flex;
  flex-direction: column;
}


/* Button */


.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-corral);
  border: none;
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 54px;
  padding-right: 54px;
}

.button:hover,
.button:focus {
  background-color: var(--basic-extra-corral);
}

.button:active {
  background-color: var(--basic-dark-corral);
  color: var(--basic-white-transparent);
  box-shadow: inset 0px 3px 0px var(--basic-extra-black-transparent);
}

.button-apps {
  background-color: var(--basic-green);
}

.button-apps:hover,
.button-apps:focus {
  background-color: var(--basic-extra-green);
}

.button-apps:active {
  background-color: var(--basic-dark-green);
}

.button-presentations {
  background-color: var(--basic-yellow);
}

.button-presentations:hover,
.button-presentations:focus {
  background-color: var(--basic-extra-yellow);
}

.button-presentations:active {
  background-color: var(--basic-dark-yellow);
}

.filter-button {
  width: 100%;
  color: var(--basic-black);
  background-color: var(--basic-ligth);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-light-grey);
}

.filter-button:active {
  background-color: var(--basic-dark-grey);
  color: var(--basic-black-transparent);
}

.features .button {
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 3px;
}


/* Features */


.features {
  margin-top: 80px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  width: 300px;
  margin-bottom: 80px;
  margin-right: 100px;
}

.feature-item:nth-child(3n) {
  margin-right: 0;
}

.feature-item p {
  color: var(--basic-extra-black);
  margin-bottom: 46px;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

.feature-item img {
  width: 300px;
  height: 146px;
}


/* Company */


.company {
  margin-top: 54px;
}

.company-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0;
  margin-top: 33px;
}

.company-subtitle {
  color: var(--basic-extra-black);
  margin: 0;
  padding: 0;
  margin-top: 33px;
}

.company-caption {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-extra-black);
  margin: 0;
  padding: 0;
  margin-top: 41px;
}

.company-tagline {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 17px;
}

.company-table {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  text-align: left;
}

.company-level th {
  padding: 0;
  padding-top: 1px;
  padding-right: 19px;
}

.company-desc td {
  padding: 0;
  padding-top: 10px;
}

.company-list {
  color: var(--basic-extra-black);
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  padding-left: 32px;
}

.company-item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-left: 5px;
}

.company-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top: 43%;
  left: -37px;
  background-color: var(--basic-corral);
}

.company-item span {
  color: var(--basic-extra-black);
}

.company-table th {
  font-size: 45px;
  line-height: 65px;
}

.company-table th span {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.company-table td {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-black);
}

.company-table-persent {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.company-about {
  max-width: 650px;
}

.company-advantages {
  max-width: 360px;
  margin-right: -3px;
  margin-top: -1px;
}

.company-content {
  display: flex;
  justify-content: space-between;
}


/* Partners */


.partners {
  margin-top: 126px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-left: 32px;
  margin-right: 39px;
  list-style: none;
}

.partners-item {
  position: relative;
}

.partners-item:not(:first-child):before {
  position: absolute;
  content: "";
  width: 2px;
  height: 55px;
  top: 40%;
  left: -62px;
  background-color: var(--basic-ligth);
  transform: translateY(-50%);
}

.partners-item:nth-child(4n) {
  margin-right: 0;
}

.partners-item:nth-child(5n):before {
  content: none;
}

.partners-item a{
  opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}


/* Footer */


.main-footer {
  margin-top: 97px;
  color: var(--basic-black);
}

.footer-contacts {
  position: absolute;
  content: "";
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  padding: 50px;
  padding-bottom: 47px;
  background-color: var(--basic-white);
}

.footer-contacts h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-contacts p {
  color: var(--basic-extra-grey);
  font-size: 16px;
  line-height: 18px;
  margin-top: 13px;
}

.footer-contacts .button {
  font-size: 16px;
  line-height: 18px;
  margin-top: 33px;
  width: 131px;
  padding-left: 44px;
  padding-right: 44px;
  border-radius: 3px;
}

.footer-phone {
  color: var(--basic-extra-grey);
  margin: 0;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.social-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.social-list li {
  margin-right: 10px;
}

.footer-social {
  margin-right: 127px;
}

.footer-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-top: 37px;
}

.footer-desc {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-white);
  margin: 0;
  padding: 0;
}

.social-wrapper {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: baseline;
}


/* Map */


.map {
  height: 416px;
  text-align: center;
  background-color: var(--basic-ligth);
}

.map-img {
  width: 100%;
  height: 416px;
}


/* Social button */


.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--basic-extra-light);
  width: 81px;
  height: 81px;
  border-radius: 50%; 
}

.social-button:hover,
.social-button:focus {
  background: var(--basic-extra-corral);
}

.social-button:active {
  background: var(--basic-dark-corral);
  box-shadow: inset 0px 3px 0px var(--basic-extra-black-transparent);
}

.social-button:active img{
  opacity: 0.3;
}


/* Container */


.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 38px;
}

.page-catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: -25px;
}

.page-title-background {
  background-color: var(--basic-ligth);
  padding: 69px;
}


/* Filters */


.filter {
  width: 260px;
}

.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-option {
  margin-top: 3px;
  margin-bottom: 21px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-number input {
  width: 80px;
  height: 38px;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  text-align: center;
  background-color: var(--basic-ligth);
  border: none;
  border-radius: 5px;
}

.filter-number label {
  line-height: 22px;
  color: var(--basic-extra-black);
  text-transform: uppercase;
  margin-right: -20px;
}

.filter-radio,
.filter-checkbox {
  line-height: 19px;
  color: var(--basic-extra-black);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -36px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-grey);
  border-radius: 3px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -36px;
  width: 25px;
  height: 23px;
  border: none;
  background-image: url("../img/checkbox.svg"), url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0, 4px 2px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  width: 23px;
  height: 23px;
  border: none;
}

.filter-input-checkbox:hover + label::after,
.filter-input-checkbox:focus + label::after {
  opacity: 1;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 19px;
  height: 19px;
  border: 3px solid var(--basic-grey);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-black);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:hover + label::after,
.filter-input-radio:focus + label::after {
  opacity: 1;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  opacity: 1;
}

.filter-input-radio:disabled + label {
  opacity: 0.1;
}

.filter fieldset:first-child legend {
  margin-bottom: 48px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 25px;
}

.filter fieldset:first-child {
  margin-bottom: 50px;
}

.filter-range {
  margin-bottom: 14px;
  width: 260px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--basic-ligth);
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-gainsborough);
}

.range-controls .toogle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-earlescent-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-light-telegrey);
  cursor: pointer;
}

.range-controls .toogle-min {
  left: 18px;
}

.range-controls .toogle-max {
  left: 160px;
}


/* Catalog */


.catalog {
  width: 758px;
}

.catalog-subtitle {
  display: flex;
  flex: 400px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.catalog-price {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-arrow {
  display: flex;
  flex: 40px;
  margin: 0;
  justify-content: space-around;
  list-style: none;
}

.catalog-price li {
  margin-right: 24px;
}

.catalog-price li:last-child {
  margin-right: 0px;
}

.catalog-button-price a {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-button-price a:hover,
.catalog-button-price a:focus {
  opacity: 0.6;
}

.current-price,
.catalog-button-price a:active {
  opacity: 1;
}

.current-arrow-price {
  fill: var(--basic-active-arrow);
  opacity: 1;
}

.catalog-arrow-price {
  fill: var(--basic-arrow);
  opacity: 0.2;
}

.catalog-arrow-price:hover,
.catalog-arrow-price:focus {
  fill: var(--basic-arrow);
  opacity: 1;
}

.catalog-arrow-price:active {
  fill: var(--basic-active-arrow);
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 73px;
}

.catalog-item {
  position: relative;
  width: 358px;
  height: 580px;
  margin-right: 38px;
  margin-top: 73px;
  margin-bottom: -4px;
  box-sizing: border-box;
  background-color: var(--basic-light);
  border: 1px solid var(--basic-extra-black-transparent);
  border-radius: 5px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -1px;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px var(--basic-black-shadow);
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 358px;
  height: 578px;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.catalog-item h3:hover,
.catalog-item h3:focus {
  color: var(--basic-corral);
}

.catalog-item h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.catalog-item-info {
  display: none;
  position: absolute;
  top: 60%;
  width: 356px;
  min-height: 231px;
  text-align: center;
  background-color: var(--basic-ligth);
}

.catalog-item:hover .catalog-item-info,
.catalog-item:focus .catalog-item-info {
  display: block;
}

.catalog-item-info button {
  width: 200px;
  margin-top: 14px;
  margin-left: 2px;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Pagination */


.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item:last-child a {
  padding-left: 77px;
  padding-right: 77px;
  text-transform: uppercase;
}

.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-ligth);
  padding: 15px 20px;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-light-grey);
}

.pagination-item a:active {
  background-color: var(--basic-dark-grey);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: 3px solid var(--basic-border-grey);
  color: var(--basic-black);
  background-color: var(--basic-white);
}


/* Index colums */


.index-colums .container {
  position: relative;
}

.index-colums .features::after {
  position: absolute;
  content: "";
  width: 1158px;
  height: 2px;
  left: 10px;
  bottom: -14px;
  background-color: var(--basic-ligth);
}

.index-colums .partners::before {
  position: absolute;
  content: "";
  width: 1158px;
  height: 2px;
  left: 10px;
  bottom: 149px;
  background-color: var(--basic-ligth);
}

.index-colums .partners::after {
  position: absolute;
  content: "";
  width: 1158px;
  height: 2px;
  left: 10px;
  bottom: -33px;
  background-color: var(--basic-ligth);
}